# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_TOKEN=

# Editor Password Configuration
# Run `npx tsx scripts/set-editor-password.ts` after setting this variable
EDITOR_INITIAL_PASSWORD=
